@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Thank you!";
}

@model Assignment3.Models.ApplicationResponse

<div>
    <h2>We have saved your movie.</h2>
</div>

<div>
    Click <a asp-action="Waitlist">here</a> to see the list of movies.
</div>