@{ 
    ViewBag.Title = "The Joel Hilton Film Collection";
}

<div>

    <img src="~/1.jpg" />

</div>
<br />
<br />
<a class="btn btn-primary" asp-controller="Home" asp-action="Application">Add Movie</a>